<%
  uuid=java.util.UUID.randomUUID
%>
<div>
  <h3>Test Pyramid</h3>
  <h4>UI&Functional Tests<%= uuid %></h4>
  <div id="<%= uuid %>">

  </div>
  <script>
    var uuid="<%= uuid >";

  </script>
</div>
